.backgroundImageStyling {
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ImageOne {
  background-image: url("../src/images/image(1).webp");
}
.Image {
  background-image: url("../src/images/image.webp");
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  background-size: contain;
  background-position: right;
}
.ImageTwo {
  background-image: url("../src/images/image(2).webp");
}
.ImageThree {
  background-image: url("../src/images/image(3).webp");
}

.ImageFour {
  background-image: url("../src/images/image(4).webp");
}
.ImageFour {
  background-image: url("../src/images/image(4).webp");
}
.Banner44 {
  background-image: url("../src/images/banner-44.webp");
}
.Banner45 {
  background-image: url("../src/images/banner-45.webp");
}
